.circular-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: black;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: background-color 0.2s;
}